extends ../shared/template

block content
  .modal.fade.fleetCreate-modal(tabindex='-1', role='dialog', aria-labelledby='boatCreateModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden="true") &times;
          h4.modal-title Start A Fleet
        .modal-body
          form(action='/fleets', method='post', enctype='multipart/form-data')
            input(type='hidden', name='captain', value='#{userId}')
            .form-group
              label Fleet Name
              input.form-control(type='text', placeholer='Super Sailors', name='fleetName', required)
            .form-group
              label Description
              textarea.form-control(type='text', name='description', required)
            .form-group
              label Flag
              input.form-control(type='file', name='fleetFlag', required)
            .form-group
              a(href='#', type="button", data-dismiss="modal").btn.btn-default Close
              button.btn.btn-danger(type="submit") Create Fleet
  .container-fluid
    .row
      .col-sm-12
        h2 Current Fleets
        button#fleetCreateButton.btn.btn-primary.pull-left(data-toggle='modal', data-target='.fleetCreate-modal') Create Fleet
    .row
      .col-sm-12
        #fleetIndexSpacer
        each fleet in fleets
          .col-sm-4
            .panelWrapper
              .panelFleetIndex.panel.panel-success
                .panel-heading
                  h2.panel-title= fleet.fleetName
                  a(href='/fleet/join/'+fleet._id.toString()).fleetButton.btn.btn-info.btn-xs.pull-right Join
                .panel-body
                  ul.list-group
                    img.fleetFlagFleetIndex(src='#{fleet.fleetFlag}')
                    li.list-group-item: a(href='/users/'+fleet.captain.toString()) Captain's Profile
                    <li class="active list-group-item"><a href="#">Members<span class="badge">#{fleet.users.length}</span></a></li>
                    li.list-group-item= fleet.description
