extends ../shared/template

block content
  .modal.fade.boatCreate-modal(tabindex='-1', role='dialog', aria-labelledby='boatCreateModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden="true") &times;
          h4.modal-title Add A Boat
        .modal-body
          form(action='/boats', method='post', enctype='multipart/form-data')
            input(type='hidden', name='ownerId', value='#{user._id.toString()}')
            .form-group
              label Boat Name
              input.form-control(type='text', placeholer='Titanic', name='boatName', required)
            .form-group
              label Year
              input.form-control(type='text', placeholer='1997', name='year', required)
            .form-group
              label Make
              input.form-control(type='text', placeholer='Hobie', name='make', required)
            .form-group
              label Type
              select.form-control(name="boatType")
                option(value='sail') Sail
                option(value='paddle') Paddle
                option(value='motor') Motor
            .form-group
              label Description
              textarea.form-control(type='text', name='description', required)
            .form-group
              label Picture
              input.form-control(type='file', name='boatPhoto', required)
            .form-group
              a(href='#', type="button", data-dismiss="modal").btn.btn-default Close
              button.btn.btn-danger(type="submit") Add Boat
  .container
    if newBoatFail
      .alert.alert-dismissable.alert-danger
        button.close(type='button', data-dismiss='alert') x
        h4 OOPS! That Boat Name already exists
    .row
      .col-sm-4.col-sm-ofset-1
        #userPicColumn
          input.userId(type='hidden', value= user._id.toString())
          #userPic(style='background-image:url('+user.userPhoto+')')
          #userShowName
            h3= user.userName
            h5: a(href='mailto:owner.email')= user.email
          .panel.panel-info
            .panel-heading
              h3.panel-title Stats
            .panel-body
              ul.list-group
                li.list-group-item
                  <span class="badge">#{boats.length}</span> Boats
                li.list-group-item
                  <span class="badge">#{fleets.length}</span> Joined Fleets
          .buttonsUserShow
            button#boatCreateButton.btn.btn-primary.pull-left(data-toggle='modal', data-target='.boatCreate-modal') Add Boat
            a#fleetLinkUserShow.btn.btn-primary.pull-right(href='/fleets') Join Fleet
      .col-sm-6.col-sm-offset-1
        if boats.length == 0
          .userShowHeading
            h2 This User Has No Boats
        if boats.length !== 0
          .userShowHeading
            h2 Boats
          #userBoats
            each boat in boats
              .panel.panel-warning
                .panel-heading
                  h3.panel-title #{boat.boatName}
                .panel-body
                  ul.list-group
                    li.list-group-item= boat.year
                    li.list-group-item= boat.make
                    li.list-group-item= boat.boatType
        if fleets.length == 0
          .userShowHeading
            h2 This User Has Not Joined Any Fleets
        if fleets.length !== 0
          .userShowHeading
            h2 Fleets Joined
          each fleet in fleets
            .panel.panel-warning
              .panel-heading
                h3.panel-title= fleet.fleetName
              .panel-body
                ul.list-group
                  li.list-group-item Cpt #{fleet.captain}
                  li.list-group-item= fleet.users.length

                
